@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/************************************************************
BASE
*************************************************************/

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.no-outline{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #f0f0f0;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  -o-transition: none !important;
}

/************************************************************
TYPOGRAPHY
*************************************************************/

h1{
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  line-height: 1;
}

p,
button,
input{
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.2;
}

b{
  font-weight: 700;
}

blockquote{
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  line-height: 1;
}

/************************************************************
COLORS
*************************************************************/

.aqua{
  background-color: #F5EFED;
}

.green{
  background-color: #1A535C;
}

.turquoise{
  background-color: #4ECDC4;
}

.red{
  background-color: #FF6B6B;
}

.yellow{
  background-color: #FFE66D;
}

/************************************************************
NAVIGATION
*************************************************************/

.menu{
  margin: 10px 0px 0px 10px;
}

.menu .more{
  position: relative;
  float: left;
  border: 1px solid black;
  padding: 12px 18px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 120ms ease-in;
}

.menu .more:nth-child(2){
  border-left: 0px solid black;
}

.menu .more:hover,
.menu input:hover{
  background-color: #e6e6e6;
}

.menu .more:active,
.menu input:active{
  background-color: #cccccc;
}

.sub-menu{
  display: none;
}

.sub-menu ul{
  margin: 10px 0 0 10px;
  padding: 0;
  list-style: none;
}

.sub-menu ul li{
  width: 300.5px;
  padding: 20px 16.5px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 0px solid black;
  background-color: #e6e6e6;
  cursor: pointer;
  transition: background-color 120ms ease-in;
}

.sub-menu ul li:nth-child(1){
  border-top: 1px solid black;
}

.sub-menu ul li:hover{
  background-color: #cccccc;
}

.icon {
  font-size: 28px;
}

/********** SEARCH INPUT FIELD **********/

input[type=search] {
  float: left;
  background-image: url("https://maxcdn.icons8.com/Share/icon/p1em/Very_Basic//search1600.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px;
  width: 15px;
  padding: 20px 26.5px;
  font-size: 14px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 0px solid black;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color, width, 120ms ease-in;
  -webkit-appearance: textfield;
}

input[type=search]:focus {
  width: 245px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 0px;
  background-color: #e6e6e6;
}

[placeholder]{
    text-overflow:ellipsis;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::placeholder {
  color: #e2e2e2;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

input::-webkit-search-decoration {
  display: none; 
}


/************************************************************
CONTENT
*************************************************************/



/************************************************************
GRID SYSTEM
*************************************************************/


.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

[class*="col-"] {
  position: relative;
  float: left;
  padding: 5px;
}

.col-1{
  width: 100%;
}

.col-1-2{
  width: 50%;
}

.col-1-3{
  width: 33.3333%;
}

.col-2-3{
  width: 66.6666%;
}


/************************************************************
MEDIA QUERY
*************************************************************/


@media screen and (min-device-width: 420px) {

}

@media screen and (min-device-width: 768px) {

}
